<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="30 seconds" debug="false">

    <property name="LOG_DIR" value="/var/log"/>
    <property name="LOG_NAME" value="room_access"/>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_NAME}/${LOG_NAME}.%d{yyyy-MM-dd}.%i.log.gz </fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>25GB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %-5level %logger{50}.%M:%L - %msg%n</pattern>
            <pattern>%d{YYYY-MM-dd}T%d{HH:mm:ss.SSS}Z, %-5level, %class{50}.%M:%L, %msg%n</pattern>
        </encoder>
    </appender>

    <!--консольный лог с подсветкой error -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %red(%class{50}.%M:%L) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.system.control" level="info"/>

    <root level="info">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </root>
</configuration>